<div>
  <div class="container pt-5 pb-5">
    <h1>Bienvenido!</h1>
    <hr/>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row justify-content-around">
      <div class="col">
        <a href="/customer/movimiento" class="">
          <div class="btn btn-outline-dark" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2016/08/10/15/01/credit-card-1583534_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estado de movimiento</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/customer/cuenta" class="">
          <div class="btn btn-outline-dark" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2013/07/26/15/48/house-167734_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estado de cuenta</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/customer/pagos" class="">
          <div class="btn btn-outline-dark" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pagos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/customer/solicitud" class="">
          <div class="btn btn-outline-dark" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solicitar diferido</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
