<div id="view-solicitud" class="mt-5">
    <div class="container">
        <div class="card">
            <h5 class="card-header">Solicitud Negada</h5>
            <div class="card-body">
                <div class="row">
                    <img class="col-2" src="https://www.flaticon.com/svg/static/icons/svg/1661/1661970.svg" alt="denied" style="height: 50px;">
                    <p class="col align-middle">La solicitud de diferido de su transaccion a sido negada</p>
                </div>
            </div>
            <a class="btn btn btn-success m-3" href="/">Aceptar </a>
        </div>
    </div>
    
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>